{% extends 'base.html.twig' %}

{% block title %}
    {{ task.name }}
{% endblock %}

{% block body %}
<div id="task" class="space-y-7" {{ turbo_stream_listen('task') }}>
    <section>
        {{ component('Task', {task: task}) }}
    </section>
    <section>
        <turbo-frame id="comment">
            {% include 'comment/add_comment_button.html.twig' %}
        </turbo-frame>
        <div id="comments" class="space-y-5 mt-5">
            {% for comment in task.comments %}
                {% include 'comment/comment.html.twig' %}
            {% endfor %}
        </div>

    </section>
</div>
{% endblock %}

{% block new_comment %}
    <turbo-stream action="append" targets="#comments">
        <template>
            {% include 'comment/comment.html.twig' %}
        </template>
    </turbo-stream>

    <turbo-stream action="replace" targets="form[name=comment]">
        <template>
            {% include 'comment/add_comment_button.html.twig' with {'task': comment.task} %}
       </template>
    </turbo-stream>
{% endblock %}

{% block remove_comment %}
    <turbo-stream action="remove" targets="#comment_{{ comment.id }}"></turbo-stream>
{% endblock %}
