<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="font-bold text-3xl">Symfony UX</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1 text-xl">
            <li>
                <a href="{{ path('home') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('task_list') }}">Tasks</a>
            </li>
        </ul>
    </div>
</div>
